.form {
    display: flex;
    flex-direction: column;
  }
  
  .formName,
  .formNumber {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    align-items: center;
    font-size: large;
    text-align: left;
    padding: 8px 250px 8px 16px;
  }
  
  .formBtn {
    margin: 16px 8px 50px 8px;
    background-color: rgba(83, 133, 232, 0.8);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    height: 36px;
    line-height: 20px;
    padding: 0 16px 0 16px;
    color: white;
    cursor: pointer;
  }
  
  .formBtn:hover {
    background-color: rgb(13, 61, 157);
    cursor: pointer;
  }